# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore the private key file
flask-key-tf.pem

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform plan output files
*.tfplan

# Ignore Terraform crash log files
crash.log

# Ignore local Terraform directories
.terraform/
.terraform.lock.hcl

# Ignore sensitive or configuration files
*.pem
*.key
*.pfx
*.cer
*.der

# Ignore shell script logs
*.log

# Ignore any other files you do not want to push
.DS_Store
